<div class="w-screen h-screen bg-blue-400 flex justify-center items-start">
  <div class="grid grid-cols-4 gap-4 m-32">
    <% @quizzes.each do |quiz| %>
      <%= link_to quiz_path(quiz) do %>
        <div class="bg-white flex items-center justify-center shadow rounded-sm h-32 w-64">
          <h3 class="text-2xl font-bold">
            <%= quiz.title %>
          </h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
