<div class="w-screen h-screen bg-blue-400 flex justify-center items-start">
  <div class="grid grid-cols-4 gap-4 m-32">
    <% @quizzes.each do |quiz| %>
      <div class="relative bg-white flex items-center justify-center shadow rounded-sm h-32 w-64">
        <div class="absolute right-4 top-2 flex">
          <%= link_to edit_quiz_path(quiz) do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/></svg>
          <% end %>
          <%= link_to quiz_path(quiz), method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/></svg>
          <% end %>
        </div>
        <h3 class="text-2xl font-bold">
          <%= quiz.title %>
        </h3>
      </div>
    <% end %>
  </div>
</div>
